script(src="js/vendor/modernizr-2.6.2.min.js")
script.
		Modernizr.load([
			{
				test: window.matchMedia,
				nope: ["/js/vendor/matchMedia.js", "/js/vendor/matchMedia.addListener.js"]
			}
		]);
script(src="js/test.js")