meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1')
block title
	title rm-promo

link(rel='stylesheet', href='css/normalize.css')
link(rel='stylesheet', href='css/main.css')

link(rel='stylesheet', href='css/vendor.css')
link(rel='stylesheet', href='css/styles.css')