header#main-header
	div.container
		div.top-line.clearfix
			include ../parts/menu
			include ../parts/top-search
			include ../parts/top-logo-block

			i.icon.icon--mobile-menu.visible-sm(data-tw-toggle-js="document.body", data-tw-toggle-class="is-menu-opened")
			div.c-top-line-mobile.clearfix.visible-sm.rel
				a(href="#", data-scroll-nav="5").c-top-line-mobile_logo
					img(src="img/icons/logo-full.png", alt="").full-responsive-img
				div.c-top-line-mobile_left.clearfix
					div.c-top-line-mobile_lang.fl
						ul.no-styled.inline-container.dib.c-lang-menu
							li.c-lang-menu_item
								a(href="#").c-lang-menu_link.is-active Рус
							li.c-lang-menu_item
								a(href="#").c-lang-menu_link Eng
					div.c-top-line-mobile_info.fr
						div.ib.vam
							div.c-top-line-mobile_phone +7 (495) 984 96 74
							a(href="mailto:info@innovasyste.pro").c-top-line-mobile_mail.no-link-styled info@innovasyste.pro
				div.c-top-line-mobile_right.clearfix
					div.c-top-line-mobile_search
						form.c-top-line-mobile_form.rel(action="", name="top-search", data-tw-toggle-target="mobileTopSearch")
							input.c-top-line-mobile_input(type="text", value="", placeholder="Поиск...")
							input.icon.icon--mobile-search.icon--pointer.c-top-line-mobile_submit(type="submit", value="")
							i.icon.icon--mobile-search.icon--pointer.c-top-line-mobile_submit.c-top-line-mobile_submit-icon.visible-xs(data-tw-toggle="mobileTopSearch", data-tw-toggle-class="is-opened")
							i.icon.icon--top-search-close.icon--pointer.visible-xs(data-tw-toggle="mobileTopSearch", data-tw-toggle-class="is-opened")